header{
       font-style:normal
       
}
body{
    background-color: rgb(207, 221, 234);
}
div{
    width: 90%;
    background-color: rgb(185, 185, 182);
    padding: 14px;
    margin:8px;
}

p{
   color: rgb(96, 95, 95);
}