body{
  background-color: rgb(225, 229, 233);
}  
.container{
    background: rgb(239, 246, 248);
  border:1px solid black;
  width: 100;
  padding:10px ;
  margin:15px ;
  background-color: rgb(232, 237, 238);
}



































































