* {
    margin: 0%;
    padding: 0;
}

body {
    background-color: #cbead7;
    padding: 16px;
}

.ashok,
.bhai,
.vikash,
.mohan {
    width: 100%;
    max-width: 700px;
    background: #fbf9f9;
    padding: 14px;
    margin: 9px;
    border: 1px;
}

p {
    color: #ac9897;
    font-size: 14px;
}