
body {
    background-color: rgb(246, 246, 247);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.con {
    display: flex;
    min-height: 100px;
}

aside {
    width: 250px;
    background-color: white;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

aside input {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

aside a:hover {
    background-color: rgb(223, 230, 240);
}


main {
    flex: 1;
    padding: 30px;
}

header h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.m {
    background-color: white;
    border: 1px solid #ccb3b3;
    border-radius: 10px;
    width: 95%;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s ease;
}

.m:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.m h2 {
    margin: 0;
    color: #1a1a1a;
    font-size: 20px;
}

.m p {
    margin: 5px 0 0;
    color: #555;
    font-size: 14px;
}
