*{ 
  margin: 0;
  padding: 0; 
}

body {
  background: #e8e8f6;
  color: #0c0e13;
  padding:16px;
}

.rite, .rote, .not {
  width: 100%;
  max-width: 700px;
  background: #fbf9f9;
  padding: 14px;
  margin: 8px 0;
  border: 1px solid rgb(222, 131, 131)
}

p {
  color: #ac9897;
  font-size: 14px;
}



